body {
  background: #efeeee;
  color: rgb(63, 63, 63);
  font-size: 1.4rem;
}

main {
  display: flex;
  justify-content: center;
}

img {
  box-shadow: -9px -9px 16px rgba(255, 255, 255, 0.7),
    9px 9px 16px rgba(151, 151, 151, 0.7);
  opacity: 1;
  transition: 0.3s;
}

.card:hover img {
  box-shadow: -3px -3px 9px rgb(255, 255, 255), 3px 3px 9px rgb(151, 151, 151);
}

.card {
  padding: 50px;
  width: 500px;
  border-radius: 6px;
  box-shadow: -9px -9px 16px rgba(255, 255, 255, 0.7),
    9px 9px 16px rgba(151, 151, 151, 0.7);
  transition: 0.3s;
}

.card:hover {
  box-shadow: -3px -3px 9px rgb(255, 255, 255), 3px 3px 9px rgb(151, 151, 151);
}

/********************
* Size Options
*********************/
.s {
  width: 30px;
  height: 30px;
}

.m {
  width: 60px;
  height: 60px;
}

.l {
  width: 120px;
  height: 120px;
}

.xl {
  width: 200px;
  height: 200px;
}

.xxl {
  width: 400px;
  height: 400px;
}

/********************
* Type Options
*********************/
.square {
  border-radius: 0;
}

.rounded {
  border-radius: 8px;
}

.circle {
  border-radius: 50%;
}

/********************
* Aspect-Ratio Options
*********************/
span#s::after {
  content: "30x30";
  margin-left: 6px;
}

span#m::after {
  content: "60x60";
  margin-left: 6px;
}

span#l::after {
  content: "120x120";
  margin-left: 6px;
}

span#xl::after {
  content: "200x200";
  margin-left: 6px;
}

span#xxl::after {
  content: "400x400";
  margin-left: 6px;
}
